*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background: linear-gradient(to right, black, rgba(255, 255, 0, 0.616), gray);
  color: white;
  padding: 50px;

 
}
.all{
  color: black;
  background-color: white;
  padding: 30px;
  height: 70vh;
  width: 70vw;
  margin: auto auto;
  margin-top: 15%;
}
a:visited{
  color: black;
}
a:hover{
  opacity: 0.7;
}

.downloadbutto{
  
  display: flex;
  transition: transform 1s ease-in-out;
  margin-top: 50px;
  background-color: ;
  padding: 10px;
  width: 300px;
  border: 2px dotted blue;
  text-align: center;
  gap: 15px;
  justify-content: space-evenly;
}
.ge{
  transition: transform 1s ease-in-out;
  flex: 1 0 40%;
  background-color:yellow;
  color:black;
  padding: 8px;
  border-radius: 8px;
  text-transform: capitalize;


}
.dow{
  flex: 1 0 40%;
  background-color: black;
  border: 2px solid yellow;
  transition: transform 1s ease-in-out;
  color:yellow;
  padding: 8px;
  border-radius: 8px;
  text-transform: capitalize;


}
.downloadbutto:hover{
  transform: scaleX(1.1);
  border-radius: 15px;
}
.ge:hover{
  box-shadow: inset 4px 4px 9px yellow;
  transform: scaleX(1.1);
  border: 2px solid black;
  color: white;
  background-color: black;
}
 .dow:hover{
  transform: scaleX(1.1);
  border: 2px dashed yellow;
  background-color:black;
  color: white;
  box-shadow: inset 4px 4px 9px yellow;
}
h1{
  color: red;
}
.sub-all-1{
border-color: gray;
padding: 18px;
border: 3px double;
width: 85%;
margin-top: 10px;
}
.nike{
  font-size: 40px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
}
.cite{
  color: green;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 15px;

}
.free{
  font-size: 30px;

}