*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: gold;
  padding: 15px;

}
.all{
  margin: 0 auto;
  width: 70vw;
  background-color:black;
  color: white;
  height:50vh ;
  padding: 20px;
  display: grid;
  place-items: center;
  
  


}

.now{
  transition: transform 1.5s ease-in-out;
  margin: 8px;
  height: 55px;
  background-color: black;
  border: 6.5px solid white;
  width: 120px;
  padding: 10px;
  padding-top: 12px;
  text-align: center;
  text-transform: capitalize;
  font-size:16px;
}
.now:hover{
  text-decoration: underline;
  background-color: white;
  color: black;
  border: 6.5px solid red;
  transform: scalex(1.1);
}

.a:hover{

  border: 1px solid yellow;
  background-color: red;
  
 /*  border: 6.5px solid red; */
  transform: scalex(1.1);
}
.a:hover .b{
  background-color: black;
  color: yellow;
  box-shadow: 3px 4px 9px gold;
}
.a:hover a{
  color: yellow;
}





.noww{
  margin-bottom: 1em;
}
h5{
  margin-bottom: 1em;
}
.a{
  transition: transform 1s ease-in-out;
  margin-top: 8px;
  background-color: white;
  padding: 10px;
  width: 140px;
  text-align: center;

}
.b{
  background-color: yellow;
  color: black;
  padding: 8px;
  border-radius: 50px;
  text-transform: capitalize;
}
                                                        a{
  text-decoration: none;
  color:black;
}
.b a:hover{
  color: yellow;
}
.d{
  background-color:green;
  color:white;
  padding: 8px;
  border-radius: 8px;
  text-transform: capitalize;


}

.aa{
  transition: transform 1s ease-in-out;
  margin-top: 8px;
  background-color: white;
  padding: 10px;
  width: 140px;
  text-align: center;

}
.aa:hover{

  border: 1.5px solid green;
  background-color: red;
  color: black;
 /*  border: 6.5px solid red; */
  transform: scalex(1.1);
}


.aa:hover .d{
  background-color: white;
  color: green;
  box-shadow: inset 5px 5px 9px black;
}









.sub-all-1{
  display:flex;
  gap: 100px;
}

.downloadbutton{
  display: flex;
  transition: transform 1s ease-in-out;
  margin-top: 8px;
  background-color: white;
  padding: 10px;
  width: 250px;
  text-align: center;
  gap: 15px;
  justify-content: space-evenly;
}
.get{
  transition: transform 1s ease-in-out;
  flex: 1 0 40%;
  background-color:blue;
  color:white;
  padding: 8px;
  border-radius: 8px;
  text-transform: capitalize;


}
.down{
  flex: 1 0 40%;
  background-color: white;
  border: 2px solid blue;
  transition: transform 1s ease-in-out;
  color:blue;
  padding: 8px;
  border-radius: 8px;
  text-transform: capitalize;


}
.downloadbutton:hover{
  transform: scaleX(1.1);
  border-radius: 15px;
}
.get:hover{
  box-shadow: inset 4px 4px 9px blue;
  transform: scaleX(1.1);
  border: 2px solid black;
  color: black;
  background-color: rgba(0, 0, 128, 0.575);
}
 .down:hover{
  transform: scaleX(1.1);
  border: 2px dashed blue;
  background-color: rgba(9, 58, 148, 0.301);
  color: black;
  box-shadow: inset 4px 4px 9px blue;
}

h1{
  text-decoration: underline;
}



.downloadbuttonn{
  display: flex;
  transition: transform 1s ease-in-out;
  margin-top: 8px;
  background-color: white;
  padding: 10px;
  width: 450px;
  text-align: center;
  gap: 15px;
  justify-content: space-evenly;
  
}
.apply{
  max-width: 70%;
  flex: 1 0 60%;
  background-color: white;
  border: 2px solid blue;
  transition: transform 1s ease-in-out;
  color:blue;
  padding: 8px;
  border-radius: 8px;
  text-transform: capitalize;


}
.save{
  flex: 0 0 20%;
  background-color: white;
  border: 2px solid blue;
  transition: transform 1s ease-in-out;
  color:blue;
  padding: 8px;
  border-radius: 8px;
  text-transform: capitalize;


}
.sub-all-2{
  display:flex;
  gap: 30px;
}
.save:hover{
  transform: scaleX(1.1);
  border: 2px dashed blue;
  background-color: rgba(9, 58, 148, 0.301);
  color: black;
  box-shadow: inset 4px 4px 9px blue;
}


.apply:hover{
  box-shadow: inset 4px 4px 9px blue;
  transform: scaleX(1.1);
  border: 2px solid black;
  color: black;
  background-color: rgba(0, 0, 128, 0.575);
}
.downloadbuttonn:hover{
  transform: scaleX(1.1);
  border-radius: 15px;
}